html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#canvas {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
    border:solid 1px red;
}
