html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: solid 1px red;
}
