* {
    margin: 0;
    padding: 0;
    user-select: none;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
#wrap,
.page {
    width: 100%;
    height: 100%;
    background-color: #494A5F;
    color: #D5D6E2;
    font-weight: 500;
    font: 1.05em "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

#menu{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    list-style: none;
    margin: auto;
    width: 6%;
    height: 360px;
    text-align: center;
    z-index: 1;
}

#menu a.icon{
    display: block;
    padding: 20px;
    color: #fff;
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out !important;
    -moz-transition: all 0.5s ease-out !important;
    -o-transition: all 0.5s ease-out !important;
    transition: all 0.5s ease-out !important;
}

#menu a.icon:hover,
#menu a.icon:focus,
#menu a.icon:active {
    color: #74777b;
}

.page {
    position: absolute;
    left: 200%;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    -moz-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    -o-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
}

#p1 {
    left: 0;
    background-color: darkslateblue;
}
#p2 {
    background: tomato;
}

#p3 {
    background: gold;
}

#p4 {
    background: deeppink;
}
#p5 {
    background: #9b59b6;
}

div#t2:target div#p1,
div#t3:target div#p1,
div#t4:target div#p1,
div#t5:target div#p1{
    background-color: #000;
}

div#t2:target div#p2,
div#t3:target div#p3,
div#t4:target div#p4,
div#t5:target div#p5{
    -webkit-transform: translateX(-194%);
    -moz-transform: translateX(-194%);
    -o-transform: translateX(-194%);
    transform: translateX(-194%);
    -webkit-transition-delay: 0.2s !important;
    -moz-transition-delay: 0.2s !important;
    -o-transition-delay: 0.2s !important;
    transition-delay: 0.2s !important;
}

div#t2:target #menu a.icon,
div#t3:target #menu a.icon,
div#t4:target #menu a.icon,
div#t5:target #menu a.icon{
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform:scale(.8);
    -webkit-transition-delay: 0.25s !important;
    -moz-transition-delay: 0.25s !important;
    -o-transition-delay: 0.25s !important;
    transition-delay: 0.25s !important;
}